<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Fixgram 페이지</h1>
  <hr>
  <header>
    <nav>
      <a href="/">홈</a>
      <a href="/profile">프로필</a>
      <a href="/map">오는 길</a>
      <a href="/about">문의하기</a>
    </nav>
  </header>