<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css" />
  <title>FHackLab</title>
</head>

<body>
  <h1>Welcome to FHackLab</h1>
  <hr>
  <header>
    <nav>
      <a id="block" href="/">홈</a>
      <a id="block" href="/profile">프로필</a>
      <a id="block" href="/map"></a>
      <a id="block" href="/about">문의하기</a>
      <a id="block" href="aboutList">이미 문의한 내용 보기</a>
    </nav>
  </header>